
  @media (min-width: 990px) {
      
  }

/* Tablet-pro desktop :1024px. */
@media  (max-width: 1024px) {
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
}


/* small mobile :825px. */
@media (max-width: 825px) {
}

/* small mobile :767px. */
@media (max-width: 767px) {
   .bs-slider{height: 410px;}
   .header-appear #cssmenu #menu-button{top: -45px;}
   .bs-slider > .carousel-inner > .item > img, .bs-slider > .carousel-inner > .item > a > img{height: 410px;}
   .header-appear .logo{max-height: 40px;}
   .rs-none{display: none;}
   .ds-none{display: block;}
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
   
  
}

@media (max-width: 480px) {
  
}

@media (max-width: 380px) {

}
 